@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "root.css";
@import "nav.css";
@import "footer.css";
@import "other-media.css";

.last-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 3% 0;
}

.last-services-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: space-between;
    margin: 0 2%;
}

.last-services-title {
    user-select: none;
}

.card {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
    padding: 12px;
    margin: 4px;
    gap: 40px;
    user-select: none;

    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    cursor: pointer;
}