@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../assets/css/root.css";
@import "../assets/css/nav.css";
@import "../assets/css/footer.css";
@import "../assets/css/other-media.css";

.infos {
    display: flex;
}

.container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 35px;
    width: 60%;
}

.info-title h2 {
    font-size: 28px;
}

.info-profissao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.column {
    display: flex;
    gap: 50px;
}

@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */

}
@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .column li {
        max-width: 100%;
    }
}
@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .column {
        flex-direction: column;
    }
    .column li {
        max-width: 80%;
    }
    .outras-areas {
        margin-top: 40%;
    }
}
